.hero-unit.specialunit
  %h2 Medical Provider Directory
  %br/
  = form_tag search_providers_path, :method => 'get' do
    =text_field_tag :q, params[:q], placeholder: 'Enter your search query...'
    %button{:class => "btn", :name => "commit", :type => "submit"}
      %i.icon-search
    %a{:class => "btn", :href => "#{ url_for :controller => 'providers', :action => 'search' }?utf8=✓&q=#{@city}+#{@state}&commit="}
      %i.icon-pushpin

  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th
          Provider Name
        %th
          Medical Specialty
        %th
          Location
    %tbody
      - @providers.each do |provider|
        %tr{:onclick => "document.location = '#{ url_for :controller => 'providers', :action => 'index' }/#{provider.id}';"}
          %td
            = provider.name
          %td
            = provider.specialty
          %td
            = "#{provider.city}, #{provider.state} #{provider.zipcode}"