.hero-unit.specialunit
  %h3
    To register as a Medical Provider, please fill out the following form

  = form_for @provider, :url => {:action => "create"} do |f|
    %div
      = f.label "Provider Name"
      = f.text_field :name
    %div
      = f.label "MyMedWall Username"
      = f.text_field :username
    %div
      = f.label "MyMedWall Password"
      = f.password_field :password
    %div
      = f.label "Primary Contact's First Name"
      = f.text_field :contact_first_name
    %div
      = f.label "Primary Contact's Last Name"
      = f.text_field :contact_last_name
    %div
      = f.label "Hospital Affiliation"
      = f.text_field :hospital_affiliation
    %div
      = f.label "Contact Number"
      = f.text_field :phone_number
    %div
      = f.label "Medical Specialty"
      = f.text_field :specialty
    %div
      = f.label "City"
      = f.text_field :city
    %div
      = f.label "State"
      = f.text_field :state
    %div
      = f.label "Zipcode"
      = f.text_field :zipcode
    %div
      = f.label "Street Number"
      = f.text_field :street_number
    %div
      = f.label "Street Name"
      = f.text_field :street_name
    %div
      = f.check_box :messagesallowd
      = f.label "Allow patients contact you via our messaging service"
    %div
      = f.submit "Login", class: "btn btn-success"